
* {
  position: relative;
  font-family: 'Baloo Bhai', 'cwTeXYen','Noto Sans TC',cursive;
/*   border: solid 1px gray; */
}

html, body {
  margin: 0px;
  padding: 10px;
  weith: 100%;
  height: 100%;
}

body {
  border-top: solid 20px #FFBCD1;
/*   border-bottom: solid 20px #FFBCD1; */
  box-sizing: border-box;
/*   overflow: hidden; */
  background-color: #FFF6FE;
}


/* !----- */

body { font-family: 'Baloo Bhai', cursive; }
		h1, h2, h3, h5 { margin-top:0; margin-bottom:0;}
		form { margin-top: 15px; }
		form > input { margin-right: 15px; } 

.highlight {color: #FF0088;}
input {width: 100px; }
.iWantCapture {border: solid 4px pink; display: inline-block; padding: 10px;}
.iWantCapture2 {border: solid 4px pink; display: inline-block; padding: 10px;}
.changedPic {  display: inline-block; padding: 10px;}
/* fieldset { height: 100px; border: solid 4px red} */
/* .outputPic { height: 100px; border: solid 4px red} */
.waterimg {position: absolute; padding: 10px; z-index:999; display: none; opacity:0.4; color: pink;}
/* .scrshot {width: 100%;  height: 50px;} */
/* 		#results { float:right; margin:20px; padding:20px; border:1px solid; background:#ccc; } */
/* #my_camera {width: 100%;  height: 100px;} */

#my_camera {display: none;} 

/* 測試中 */
/* #app, p {display: none;}  */
#downloadMany2{display: none;}
/* .hasDatepicker {background: #000;} */
